# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../tesseract-list-of-items\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\git\tesseract-list-of-items\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
